form {
  display: inline-block;
  margin: 0 auto;
  text-align: center;
}
input[type="text"],
input[type="password"]{
    width: 25em;
    font-size: 18px;
}
button {
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
  width: 25em;
}

fieldset {
  margin-top: 4em;
}
