.cottidie-content {
    font-family: sans-serif;
    margin: 1em;
}
button,
.button-link,
fieldset,
textarea,
input[type="text"],
input[type="password"] {
  margin: 1em;
  padding: 10px;
  box-shadow: none;
  border-radius: 5px;
  color: #969696;
  background: #fff;
  text-decoration: none;
  transition: border 0.1s;
}
button,
.button-link {
  border: solid 3px #c9c9c9;
}
input[type="text"],
input[type="password"]{
    border: none;
    border-bottom: solid 2px #c9c9c9;
    border-radius: 0px;
}
fieldset, textarea {
  border: solid 2px #c9c9c9;
  border-padding: 1em;
  border-radius: 5px;
}
input[type="text"]:focus, input[type="text"].focus,
input[type="password"]:focus, input[type="password"].focus {
  border-bottom: solid 2px #969696;
  outline: none;
}
input[type="text"]:hover, input[type="text"].hover,
input[type="password"]:hover, input[type="password"].hover {
  border-bottom: solid 2px #969696;
}
button:hover, button.hover,
.button-link:hover, .button-link.hover,
fieldset:hover, fieldset.hover,
textarea:hover, textarea.hover {
  border-color: #969696;
}
button:active, button.active,
.button-link:active, .button-link.active {
  border-color: #000;
}
fieldset {
  width: 1em;
}
legend {
  color: #969696;
  padding: 1em;
}
*, *:before, *:after {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
}
.navbar {
  display: flex;
  align-items: center;
  background-color: #c9c9c9;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  font-size: 16pt;
  width: 100%;
  padding: 0.5em;
}
.navbar-header, .navbar-content {
  border: solid 2px #c9c9c9;
  border-radius: 5px;
  border-padding: 1em;
  padding: 0.5em;
  margin-left: 1em;
  color: #333;
}
.navbar-content:hover, .navbar-content.hover {
  border-color: #969696;
}
.navbar-header {
    order: 0;
}
#vaguecube {
  width: 10em;
  padding: 10em 10em 0em 10em;
}
a {
  text-decoration: inherit;
  color: inherit;
}
