{% load compress %}
{% load staticfiles %}
<html>
    <head>
        {% block external_stylesheets %}
        {% endblock %}
        {% compress css %}
            <link rel="stylesheet" type="text/x-scss" href="{% static "base/scss/main.scss" %}">
            <link rel="stylesheet" type="text/x-scss" href="{% static "occasiones/scss/occasio.scss" %}">
            {% block stylesheets %}
            {% endblock %}
        {% endcompress %}
    </head>

    <body>
        <div class="navbar">
            <div class="navbar-header">
                <a href="{% url "base:main" %}">cottidie</a>
            </div>
            <div class="navbar-content">
                <a href="{% url "diarium:main" %}">diarium</a>
            </div>
            <div class="navbar-content">
                <a href="{% url "occasiones:main" %}">occasiones</a>
            </div>
            <div class="navbar-stretch"></div>
            <div class="navbar-content">
                <a href="{% url "base:logout" %}">logout</a>
            </div>
        </div>
        <div class="cottidie-content">
            {% if messages %}
                {% for message in messages %}
                    <div class="message message-{{ message.tags }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}

            {% block content %}
            {% endblock %}
        </div>

		{% block scripts %}
		{% endblock %}
    </body>
</html>
