{% load compress %}
{% load staticfiles %}
<html>
    <head>
        {% block external_stylesheets %}
        {% endblock %}
        {% compress css %}
            <link rel="stylesheet" type="text/x-scss" href="{% static "base/scss/main.scss" %}">
            <link rel="stylesheet" type="text/x-scss" href="{% static "occasiones/scss/occasio.scss" %}">
            {% block stylesheets %}
            {% endblock %}
        {% endcompress %}
    </head>

    <body>
        <div class="navbar">
            <div class="navbar-header">
                cottidie
            </div>
            <ul>
                <li>diarium</li>
                <li>occasiones</li>
            </ul>
        </div>
        <div class="cottidie-content">
            {% block content %}
            {% endblock %}
        </div>

		{% block scripts %}
		{% endblock %}
    </body>
</html>
