{% extends "base/base.html" %}
{% load staticfiles %}

{% block stylesheets %}
    <link href="{% static "diarium/scss/scribe.scss" %}" rel="stylesheet">
{% endblock %}

{% block content %}

    <h3> Latest entries in your default notebook "{{ user.diarium.default.title }}"</h3>
        {% for entry in entries %}
            <a class="entry-link" href="{% url "diarium:scribe-sg" pk=entry.id %}">
                <button class="entry-list">
                    {{ entry.text|truncatewords:7|safe }} … {{ entry.created }}
                </button>
            </a>
        {% endfor %}
{% endblock %}
