{% extends "base/base.html" %}
{% load staticfiles %}

{% block stylesheets %}
    <link href="{% static "diarium/scss/scribe.scss" %}" rel="stylesheet">
{% endblock %}

{% block content %}

    <h3> Latest entries in your default notebook "{{ user.diarium.default.title }}"</h3>
    <a href="{% url "diarium:scribe" %}">
        <button class="button-add">+</button>
    </a>
        <div id="diarium-list">
            {% for entry in entries %}
                <a href="{% url "diarium:scribe-sg" pk=entry.pk %}">
                    <button class="button-link">
                        {{ entry.text|truncatewords:7|safe }} … {{ entry.created }}
                    </button>
                </a>
            {% endfor %}
        </div>
{% endblock %}
