{% extends "base/base.html" %}
{% load staticfiles %}

{% block external_stylesheets %}
    <link href="{% static "vendor/css/quill.snow-1.1.5.css" %}" rel="stylesheet">
{% endblock %}

{% block stylesheets %}
    <link href="{% static "diarium/scss/scribe.scss" %}" rel="stylesheet">
{% endblock %}

{% block scripts %}
    <script src="{% static "vendor/js/quill-1.1.5.js" %}"></script>
    <script src="{% static "diarium/js/scribe.js" %}"></script>
{% endblock %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        <div id="scriptor-form">
            <div id="scriptor">
                {% if entry_data %}
                    {{ entry_data|safe }}
                {% else %}
                    What's on your mind?<p></p>
                {% endif %}
            </div>
            <input name="entry" type="hidden">
            <input name="words" type="hidden">
            <input name="characters" type="hidden">
            <button type="submit">
                Save
            </button>
        </div>
    </form>

    <div id='scribe-words'></div>
    <div id='scribe-chars'></div>
{% endblock %}
