{% extends "base/base.html" %}

{% block content %}

    <a href="{% url "occasiones:occasion-type-create"%}">
        <button class="button-add">+</button>
    </a>
    These are the occasions you are tracking:

    <div id="occasion-list">
        {% for occasion in user.occasion_types.all %}
            <a href="{% url "occasiones:occasion-list" pk=occasion.id %}">
                <button class="button-link">
                    {{ occasion.name }}
                    {% if occasion.occasiones.exists %}
                        (last {{ occasion.occasiones.last.start|timesince }} ago)
                    {% endif %}
                </button>
            </a>
        {% endfor %}
    </div>

{% endblock %}
