#scriptor-form {
    width: 65em;
    margin: 2em;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    flex-align: stretch;
}
#scriptor {
    height: 15em;
    font-size: 14px;
}
#diarium-list .button-link {
    display: block;
    width: 45em;
}
#diarium-list a {
    text-decoration: none;
}
