.text-block {
    width: 40em;
    margin: 2em;
}
#occasio-form {
    width: 40em;
    margin: 2em;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    flex-align: stretch;
}
#occasion-list .button-link {
    width: 45em;
    display: block;
}
